.assignChores {
    // height: 100%;
    position: absolute;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    button {
        min-width: 40%;
        background-color: #20c14d !important;
        border: 1px solid #18a840 !important;
    }
   min-height: calc(100vh - 50px);
   animation:page .5s;
     -moz-animation:page .5s; /* Firefox */
     -webkit-animation:page .5s; /* Safari and Chrome */ 
     h1 {
        color: white;
        animation: page 1s linear 0s infinite alternate both;
    } 
}

.assignment-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15%;
    button {
        min-width: 40%;
        background-color: #20c14d !important;
        border: 1px solid #18a840 !important;
    }
}
.modal-footer {
    button {
            min-width: 40%;
            background-color: #3236a8 !important;
            border: 1px solid #2784DE !important;
    }
}

.unassignedContainer {
    margin-top: 12px;
    border: 1 px solid #000;
    display: flex;
    flex-wrap: wrap;
  
    .assignedtonoone {
        font-weight: bold;
        background-color: #DEE9F5;
        border: 1px solid #000;
        border-radius: 25px;
        padding: .2em;
        margin: .1em
      }
}

.myAssignedContainer {
    margin-top: 12px;
    border: 1 px solid #000;
    display: flex;
    flex-wrap: wrap;
    .assignedtome {
        font-weight: bold;
        background-color: #BDDAF0;
        border-radius: 25px;
        padding: .2em;
        margin: .1em
      }
}

.assigntitle {
    margin: 40px 0 auto;
    color: rgb(95, 86, 162);
    padding: 10px;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
}

body > div:nth-child(6) > div > div.modal.fade.show > div > div > div.modal-body > div > form > div.assignForm > div > div > svg {
    background-color: #2784DE;
    color: white;
}

body > div:nth-child(6) > div > div.modal.fade.show > div > div > div.modal-body > div > form > div.assignForm > div > div > div:nth-child(3) {
    background-color: #2784DE;
    color: white;
}

body > div:nth-child(6) > div > div.modal.fade.show > div > div > div.modal-body > div > form > div.assignForm > div:nth-child(3) {
    background-color: #2784DE;
    color: white;
}

.modal-content {
    background-color: #D2E0EE !important;
    color: #111 !important;

    .modal-title,
    .modal-header,
    .modal-body,
    .modal-footer {
        color: #111;
    }

    h1, h2, h3, h4, h5, h6,
    p, label, span, div, li {
        color: #111;
    }
}

@keyframes page {
    from {top: 300px;} 
    to{top:20px;}
    from {
        font-weight: 100;
      }
      to {
        font-weight: 900;
      }
   }
 @-moz-keyframes page {
    from {top: 300px;} 
    to{top:20px;}
    from {
        font-weight: 100;
      }
      to {
        font-weight: 900;
      }
   }
@-webkit-keyframes page {
    from {top: 300px;} 
    to{top:20px;}
    from {
        font-weight: 100;
      }
      to {
        font-weight: 900;
      }
   }