.page-footer {
    h5 {
        font-weight: bold;
    }
    color: rgba(255, 255, 255, 0.85);
    background-color: #1e2160;
    text-align: center;
    font-weight: bold;
    flex-shrink: 0;

    a {
        color: rgba(255, 255, 255, 0.7);
        &:hover {
            color: #fff;
        }
    }
}

.footerLogo {
    width: 150px;
}

.footer-section {
    border-left: 1px solid blue;
    padding: 20px;
}